@model Labtracker.Models.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <h5>User assigned to this assignment</h5>
    <table class="table-bordered">
        <tr>
            <th>Name</th>
            <th>State</th>
        </tr>
        @foreach (var userassignment in Model.UserAssignments)
        {

            <tr>
                <td>@Html.DisplayFor(ua => userassignment.User.UserName)</td>
                
                @if (userassignment.Status.Equals(0))
                {
                    <td>Nog niet begonnnen</td>
                }
                else if (userassignment.Status.Equals(1))
                {
                    <td>Begonnnen</td>
                }
                else if (userassignment.Status.Equals(2))
                {
                    <td>Vastgelopen</td>
                }
                else if (userassignment.Status.Equals(3))
                {
                    <td>Klaar</td>
                }
            </tr>
        }
    </table>
    <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
